$primary-color: #009dd9;
$secondary-color: #8fc743;
$accent-color: #f3f3f3;
$font-color: #000000;
$font-default-color: #fff;
$border-color: #ddd;
$font-weight: (
  "regular": 400,
  "medium": 600,
  "bold": 900,
);
$vertical-padding: 4rem 0;
$assetPath: "../webImages";
