// -----------------------Media----------------------------------

.media {
  @include flexCenter(row);
  &__img {
    width: 30%;
    img {
      width: 100%;
    }
  }
  &__body {
    width: 70%;
  }
}

.popup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index:99;
  &::before {
    content: '';
    position: absolute;
    width: 100vw;
    background: #0000004a;
    height: 120vh;
    left: -66%;
    top: -47%;
  }

}

.contentBox {
  position: relative;
  width: 60rem;
  height: 40rem;
  background: #fff;
  border-radius: 2rem;
  display: flex;
  box-shadow: 0px .5rem 1.5rem rgba(0, 0, 0, 0.1);

}

.contentBox .img_box {
  position: relative;
  width: 30rem;
  height: 40rem;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;

}

.contentBox .img_box:before {
  content: '';
  position: absolute;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  background: #006f99a6;
}

.contentBox .img_box img {
  position: relative;
  max-width: 29rem;
  z-index: 1;
  mix-blend-mode: hard-light;
}

.contentBox .content {
  position: relative;
  width: 30rem;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;

}

.content h3 {
  color: #333;
  line-height: 1em;
  font-weight: 300;
  font-size: 2rem;
}

.content h2 {
  color: $primary-color;
  line-height: 1em;
  font-size: 4rem;
}

.content h2 span {
  color: #333;
  font-size: 0.75em;
  text-transform: uppercase;

}

.content p {
  font-weight: 300;

}

.content a.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 1rem;
  margin-top: 1.5rem;
}

.close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 4rem;
  height: 4rem;
  background: #f3f3f3 url(../webImages/cancel.png) no-repeat;
  background-size: 1rem;
  background-position: center;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
}
